@{
    Layout = "_AccountLayout";
}

<div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
</div>

<form>
    <h3>Register Here</h3>

    <label for="FullName">Full Name</label>
    <input type="text" placeholder="FullName" id="FullName">

    <label for="username">Username</label>
    <input type="text" placeholder="Username" id="username">

    <label for="email">Email</label>
    <input type="email" placeholder="Email" id="email">

    <label for="password">Password</label>
    <input type="password" placeholder="Password" id="password">

    <label for="confirm-password">Confirm Password</label>
    <input type="password" placeholder="Confirm Password" id="confirm-password">

    <button>Register</button>
    <div class="social">
        <a href="#">Login</a>
        <a href="#" class="second">Forgot Password</a>
    </div>
</form>
