<div id="map" style="width: 100%; height: 400px;"></div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 41.18150, lng: 27.81770 }, // Başlangıç
            zoom: 15
        });
        var marker = new google.maps.Marker({
            position: { lat: 41.18150, lng: 27.81770 },
            map: map,
            icon: {
                path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW,
                scale: 4,
            }, // googlenin "gezi" simgesi
            title: 'Vehicle'
        })
    }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQlZlLgO2Luut0trOyN7ESj170hGUcV6Q&callback=initMap"></script>

